In [18]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import datetime

In [19]:
#initialise the number of weeks for the dataset
num_weeks = 1

#initialise the date for the first week of the dataset (week ending on start_date)
start_date = filedate = pd.Timestamp('2019-06-01 00:00:00')

#initialise the regex for the MTA turnstile url
filename_regex = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"

filelist = []

for numfiles in range (num_weeks):

    # create the appropriate filename for the week
    filedate_str = str(filedate.year)[2:4] + str(filedate.month).zfill(2) + str(filedate.day).zfill(2)
    filename = filename_regex.format(filedate_str)

    # read the file and append it to the list of files to be concacated
    df = pd.read_csv(filename, parse_dates=['DATE'], keep_date_col=True)
    filelist.append(df)

    # advance to the next week
    filedate += pd.Timedelta(days=7)

mta_df = pd.concat(filelist, axis=0, ignore_index=True)

In [20]:
mta_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,00:00:00,REGULAR,7071830,2396411
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,04:00:00,REGULAR,7071844,2396415
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,08:00:00,REGULAR,7071864,2396443
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,12:00:00,REGULAR,7071943,2396500
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,16:00:00,REGULAR,7072182,2396555

In [21]:
mta_df.dtypes

C/A                                                                             object
UNIT                                                                            object
SCP                                                                             object
STATION                                                                         object
LINENAME                                                                        object
DIVISION                                                                        object
DATE                                                                    datetime64[ns]
TIME                                                                            object
DESC                                                                            object
ENTRIES                                                                          int64
EXITS                                                                            int64
dtype: object

In [22]:
#Converted Time to TimeDelta object, then added to Date to make Date_Time
mta_df['DATE_TIME'] = mta_df['DATE'] + pd.to_timedelta(mta_df['TIME'])

In [23]:
# Create day of week column, standardize some station names

mta_df['DAY_OF_WEEK'] = [datetime.datetime.weekday(date) for date in mta_df['DATE']]

In [24]:
mta_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,DAY_OF_WEEK
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,00:00:00,REGULAR,7071830,2396411,2019-05-25 00:00:00,5
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,04:00:00,REGULAR,7071844,2396415,2019-05-25 04:00:00,5
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,08:00:00,REGULAR,7071864,2396443,2019-05-25 08:00:00,5
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,12:00:00,REGULAR,7071943,2396500,2019-05-25 12:00:00,5
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,16:00:00,REGULAR,7072182,2396555,2019-05-25 16:00:00,5

In [ ]:
mta_df.dtypes

In [ ]:
mta_df['DATE'] =  pd.to_datetime(mta_df['DATE'])
#mta_df[datetime.datetime.TIME]
#mta_df[DATE] +" "+ mta_df[TIME]

In [ ]:
mta_df['DATE'][0:3]

In [ ]:
# date = Convert.ToDateTime(dTable.Rows[i][0]);
# time = Convert.ToDateTime(dTable.Rows[i][1]);
# newDateTime = new DateTime();

# newDateTime = date.Date + time.TimeOfDay;
# mta_df[DATE2] = mta_df["DATE"].combine(mta_df["TIME"])

mta_df['Datetime'] = pd.to_datetime(mta_df['DATE'].apply(str)+' '+mta_df['TIME'])