In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_210102.txt')
df2 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_201226.txt')

In [3]:
df = pd.concat([df1,df2],axis=0)
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,03:00:00,REGULAR,7508509,2557569
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,07:00:00,REGULAR,7508511,2557581
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,11:00:00,REGULAR,7508531,2557636
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,15:00:00,REGULAR,7508610,2557667
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/26/2020,19:00:00,REGULAR,7508767,2557689
...,...,...,...,...,...,...,...,...,...,...,...
212294,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,04:00:00,REGULAR,5554,541
212295,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,08:00:00,REGULAR,5554,541
212296,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,12:00:00,REGULAR,5554,541
212297,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,16:00:00,REGULAR,5554,541
212298,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,20:00:00,REGULAR,5554,541

In [4]:
df.dtypes

C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                  int64
EXITS                                                                    int64
dtype: object

In [5]:
df['DATE_AND_TIME'] = df3['DATE'] + " " + df3['TIME']
df['DATE_AND_TIME'] = pd.to_datetime(df3['DATE_AND_TIME'])

In [6]:
df['DATE_AND_TIME'].head()

0   2020-12-26 03:00:00
1   2020-12-26 07:00:00
2   2020-12-26 11:00:00
3   2020-12-26 15:00:00
4   2020-12-26 19:00:00
Name: DATE_AND_TIME, dtype: datetime64[ns]

In [ ]:
df.dtypes

In [ ]:
df['TURNSTILE'] = df3['C/A'] + ' ' + df3['UNIT'] + " " + df3['SCP'] + " " + df3['STATION']
daily_ts = df.groupby(['TURNSTILE','DATE']).sum()['ENTRIES']
daily_ts

In [ ]:
 %matplotlib inline

In [ ]:
rand_ts = df['TURNSTILE'].sample(1)
rand_ts.iloc[0]

In [ ]:
single_ts = df[df['TURNSTILE']==rand_ts.iloc[0]]
single_ts.sort_values('DATE',ascending=False,inplace=True)

In [ ]:
"""Attempt at finding increase of entries and exits for each instance of time without 
counting end of one turnstile and beginning of another by making each turnstile a separate dateframe within a dictionary"""

ts_dict = {turnstile: df.loc[df['C/A_SCP'] == turnstile] for turnstile in TurnstileNames}
Exit_df = pd.DataFrame()
for ts in TurnstileNames:
    Exit_df = pd.concat([Exit_df,ts_dict[ts]['EXITS'].diff()])
Exit_df.rename(columns={0:'Exit_diff'},inplace=True)
Entry_df = pd.DataFrame()
for ts in TurnstileNames:
    Entry_df = pd.concat([Entry_df,ts_dict[ts]['ENTRIES'].diff()])
Entry_df.rename(columns={0:'Entry_diff'},inplace=True)
df = pd.concat([df,Exit_df,Entry_df],axis=1)
df['Total_Entry_Exit'] = df['Exit_diff'] + df['Entry_diff']

In [ ]:
#Example given to team on graphing different stations for different days of week and time of day
station_list = turnstile_summary['STATION'].unique().tolist()
ticks_x = np.linspace(0.5, 6.5, 7)
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
plt.xticks(ticks_x, days, fontsize = '15', color='k');
plt.scatter( x=turnstile_summary[turnstile_summary['STATION']==station_list[0]]['Day_hour'], y=turnstile_summary[turnstile_summary['STATION']==station_list[0]]['People_per_hour'], marker='.', s=(30,))
plt.scatter( x=turnstile_summary[turnstile_summary['STATION']==station_list[1]]['Day_hour'], y=turnstile_summary[turnstile_summary['STATION']==station_list[1]]['People_per_hour'], marker='.', s=(30,))
plt.scatter( x=turnstile_summary[turnstile_summary['STATION']==station_list[2]]['Day_hour'], y=turnstile_summary[turnstile_summary['STATION']==station_list[2]]['People_per_hour'], marker='.', s=(30,))
plt.scatter( x=turnstile_summary[turnstile_summary['STATION']==station_list[3]]['Day_hour'], y=turnstile_summary[turnstile_summary['STATION']==station_list[3]]['People_per_hour'], marker='.', s=(30,))