In [1]:
import pandas as pd
import datetime

In [5]:
mta_df = pd.DataFrame({'DATE': ['2019-05-25','2019-05-26'], 'TIME': ['00:00:00', '00:00:00']})
mta_df.head()

         DATE      TIME
0  2019-05-25  00:00:00
1  2019-05-26  00:00:00

In [6]:
mta_df['Datetime'] = pd.to_datetime(  mta_df['DATE'].apply(str)+' '+mta_df['TIME'])

In [7]:
mta_df

         DATE      TIME   Datetime
0  2019-05-25  00:00:00 2019-05-25
1  2019-05-26  00:00:00 2019-05-26